h1 {
    color:cornflowerblue;
    font-size: 5rem;
    text-align: center;
    background-color: bisque;
    padding:1rem 2rem;
    font-weight: 900;
}
h3 {
    background-color: red;
    text-align: center;
    font-size: 4rem;
    margin:1rem;
}
p {
    margin:1rem;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: rgb(4, 252, 252);
    background-color: rgb(79, 151, 6);
    padding:1rem;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}